html{
  font-size: 14px;
}

*{
  margin: 0;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  font: inherit;
  font-size: inherit;
}

body{
  font-family: sans-serif;
}

table{
  width: 100%;
}

.button{
  padding: 5px 10px;
}

.text-input{
  border: 1px solid;
}

.tree-view, .tree-view ul{
  list-style: none;
}

.tree-view ul{
  padding-left: 15px;
}

.tree-view span{
  cursor: pointer;
  display: inline-block;
  padding: 1px 5px;
}

.tree-view span:hover{
  background: #eee;
}

.tree-view span.active{
  background: #00f;
  color: #fff;
}

.w1{width: 1rem}
.w2{width: 2rem}
.w3{width: 3rem}
.w4{width: 4rem}
.w5{width: 5rem}
.w6{width: 6rem}
.w7{width: 7rem}
.w8{width: 8rem}
.w9{width: 9rem}
.w10{width: 10rem}
.w11{width: 11rem}
.w12{width: 12rem}
.w13{width: 13rem}
.w14{width: 14rem}
.w15{width: 15rem}
.w16{width: 16rem}
.w17{width: 17rem}
.w18{width: 18rem}
.w19{width: 19rem}
.w20{width: 20rem}
